################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/NLogApp/.vs
/NLogApp/NLogApp/bin/Debug/netcoreapp2.1
/NLogApp/NLogApp/obj
