<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="LogFile\InternalLog\internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>

        <target xsi:type="File"
                name="file"
                encoding="utf-8"
                fileName="LogFiles/NLogApp/NLogApp.log"
                layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff} ${threadid} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
                archiveFileName="LogFiles/NLogApp/NLogApp.{#}.log"
                archiveNumbering="Date"
                archiveEvery="Hour"
                archiveDateFormat="yyyyMMdd-HH"
                maxArchiveFiles="24" />
    </targets>

    <rules>
        <logger name="*" minlevel="info" writeTo="file" />
    </rules>
</nlog>